@model Web.Models.IndexPageModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
<title>Is it payday?</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="Is it payday?" />
<meta name="keywords" content="pay day payday" />
<meta name="description" content="Find out if today is payday" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="image_src" href="/money.jpg" />
<link href="/styles.css" rel="stylesheet"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="script.js"></script>
</head>
    <body>

<h1>Is it payday?</h1>
<p class="status"><span>@Model.PayDayString</span></p>

<div class="settings">

	<form action="/" method="post">
	<div class="settings">
	
		<h2>Settings</h2>
		
		<h3>Country</h3>
	    <div class="country-info">
            @if(Model.ShowCountryForm)
            {
                <p>
                    @Html.DropDownListFor(model => model.CountryId, Model.CountryItems, new {@id = "input_country"})
                </p>
			} else {
                <p>
					@Model.CountryName
					<a href="/?change=country" class="change-country">Change</a>
				</p>
			}
		</div>
		
		<h3>Timezone</h3>
		<div class="timezone-info">
			@if(Model.ShowTimeZoneForm)
            {
				<p>
		            @Html.DropDownListFor(model => model.TimeZone, Model.TimeZoneItems, new {@id = "input_timezone"})
                </p>
			} else {
                <p>
					@Model.TimeZone
					<a href="/?change=timezone" class="change-timezone">Change</a>
				</p>
			}
		</div>

		<h3>Payday</h3>
		<div class="payday-info">
			@if(Model.ShowPayDayForm)
            {
                <p>
		            @Html.DropDownListFor(model => model.PayDay, Model.PayDayItems, new {@id = "input_payday"})
                </p>
			} else {
                <p>
			        @Model.PayDay
			        <a href="/?change=payday" class="change-payday">Change</a>
			    </p>
			}
		</div>
		
		<noscript>
			<button type="submit">Save</button>
		</noscript>
		
	</div>
	
	</form>
</div>

<p class="footer">
	@*<?php echo $now->format("F j Y g:i a")?> (<?php echo $location->timezone?>)*@
</p>

<p class="contact">
	Bugs and suggestions: <a href="mailto:info@isitpayday.com">info@isitpayday.com</a>
</p>

@*<?php include("ga.php");?>*@

</body>
</html>